<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/About.css"/>
</head>
<body>
    <header>
    <h2>About us</h2>
    </header>
    <section>
        <div>
            <article>
                <div class="intro">
                    <img id="band" src="images/band2.jpg"/>  
                </div> 
                <div>           
                    <p>
                    Bring Me the Horizon (abreviado BMTH) es una banda británica de metalcore y pop rock proveniente de Sheffield, Inglaterra. Se formó en 2003 y actualmente está conformada por el vocalista Oliver Sykes, el guitarrista Lee Malia, el bajista Matt Kean, el baterista Matt Nicholls y el tecladista Jordan Fish. 
                </p>
                </div> 
            </article>
        </div>
    </section>
    <section class="members">
        <div class="lider">
            <article class="oli">
                <div class = "oliintro">
                    <h3>Oliver Sykes </h3>
                    <p>
                        Lider, vocalista y compositor. Nacido en Australia el 20 de noviembre de 1986. Fundador de la línea de ropa "Drop Dead Clothing". 
                    </p>
                </div>
                <img id="oliimg" src="images/oli.jpg"/>
            </article>
        </div>
        <div class="guitar-bass">
            <article class="matt">
                <div class = "mattintro">
                    <h3>Lee Malia</h3>
                    <p>
                        Guitarrista líder. Nació el 4 de junio de 1984 en Sheffield, Inglaterra. 
                    </p>
                </div>
                <img id="mattimg" src="images/Matt.jpg"/>
            </article>
            <article class="kean">
                <div class = "keanintro">
                    <h3>Matt Kean</h3>
                    <p>
                        Bajista. Nacido el 2 de junio de 1986 en Sheffield, Inglaterra. 
                    </p>
                </div>
                <img id="keanimg" src="images/kean.jpg"/>
            </article>
        </div>
        <div class="piano-bateria">
            <article class="jordan">
                <div class="jordanintro">
                    <h3>Jordan Fish</h3>    
                    <p>
                        Tecladista y vocalista de fondo británico. Se unió oficialmente en enero de 2013. 
                    </p>
                </div>
                <img id="jordanimg" src="images/Jordan.jpg"/>
            </article>
            <article class="nich">
                <div class="nichintro">
                    <h3>Matt Nicholls</h3>
                    <p> 
                        Baterista británico. Nacido el 22 de marzo de 1986 en Yorkshire del Sur, Inglaterra. 
                    </p>
                </div>
                <img id="nichimg" src="images/nicholls.jpg"/>
            </article>
        </div>
    </section>
</body>
</html>