<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="static/Albums.css"/>
</head>
<body>
    <header>
        <h2>Albums</h2>
    </header>
    <body>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                     <ul>
                        <li class="albums"><h3>Post Human: Survival Horror</h3></li>
                        <img src="images/Post survival.jpg" alt="PostSurvival" width="200" heihgt="auto">
                        <ol>
                            <li class="songs">Dear Diary</li>
                            <li class="songs">Parasite Eve</li>
                            <li class="songs">Teardrops</li>
                            <li class="songs">Obey (with Yungblud)</li>
                            <li class="songs">Itch for the Cure (When Will We Be Free?)</li>
                            <li class="songs">Kingslayer (with Babymetal)</li>
                            <li class="songs">1x1 (with Nova Twins)</li>
                            <li class="songs">Ludens</li>
                            <li class="songs">One Day the Only Butterflies Left Will Be in Your Chest as You March Towards Your Death (with Amy Lee)</li>
                            
                        </ol>
                        <li class="albums"><h3>Amo</h3></li>
                        <img src="images/Amo.jpg" alt="Amo" width="200" heihgt="auto">
                        <ol>
                            <li class="songs">Apologise if You Feel Something</li>
                            <li class="songs">Mantra</li>
                            <li class="songs">Nihilist Blues</li>
                            <li class="songs">In the Dark</li>
                            <li class="songs">Wonderful Life</li>
                            <li class="songs">Ouch</li>
                            <li class="songs">Medicine</li>
                            <li class="songs">Sugar Honey Ice & Tea</li>
                            <li class="songs">Why You Gotta Kick Me When I'm Down?</li>
                            <li class="songs">Fresh Bruises</li>
                            <li class="songs">Mother Tongue</li>
                            <li class="songs">Heavy Metal</li>
                            <li class="songs">I Don't Know What to Say</li>
                        </ol>
                        <li class="albums"><h3>That's The Spirit</h3></li>
                        <img src="images/spirit.jpg" alt="spirit" width="200" heihgt="auto">
                        <ol>
                           <li class="songs">Doomed</li>
                           <li class="songs">Happy Song</li>
                           <li class="songs">Throne</li>
                           <li class="songs">True Friends</li>
                           <li class="songs">Follow You</li>
                           <li class="songs">What You Need</li>
                           <li class="songs">Avalanche</li>
                           <li class="songs">Run</li>
                           <li class="songs">Drown</li>
                           <li class="songs">Blasphemy</li>
                           <li class="songs">Oh No</li>
                        </ol>
                        <li class="albums"><h3>Sempiternal</h3></li>
                        <img src="images/Sempiternal.jpg" alt="Sempiternal" width="200" heihgt="auto">
                        <ol>
                            <li class="songs">Can You Feel My Heart</li>
                            <li class="songs">The House of Wolves</li>
                            <li class="songs">Empire (Let Them Sing)</li>
                            <li class="songs">Sleepwalking</li>
                            <li class="songs">Go to Hell, for Heaven's Sake</li>
                            <li class="songs">Shadow Moses</li>
                            <li class="songs">And the Snakes Start to Sing</li>
                            <li class="songs">Seen It All Before</li>
                            <li class="songs">Antivist</li>
                            <li class="songs">Crooked Young</li>
                            <li class="songs">Hospital for Souls</li>
                        </ol>
                     </ul>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>